@import "../../vendor/bootstrap/bootstrap.scss";

section {
  &.text-center {
    .subheading {
      margin-bottom: 0.25rem;
    }

    h2 {
      margin-bottom: 3rem;
    }
  }

  .subheading {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }
}


.subheading {
  font-family: $font-family-sans-serif;
  letter-spacing: 1px;
}