.subheading {
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
}

.card-type-1 {
    border-radius: 280px 280px 0 0;
    overflow: hidden;
}

.card-link {
    text-transform: uppercase;
}