// #region variables

// Color system
$gray-600: #f5f5f5;

$theme-colors: (
    "primary": #9a795d
);


// Links
$link-decoration: underline !default;


// Cards

$card-height: 100% !default;
$card-bg: $gray-600 !default;

// #endregion variables

@import "~bootstrap/scss/bootstrap";
